<div class="type-features">
  <!-- Seamless -->
  <ul data-type="Remy Royale Seamless Clip ins">
    <li>8 Pieces</li>
    <li>Ultra discreet</li>
    <li>Suitable for all hair types</li>
    <li>Longer lasting silicone seam</li>
    <li>For volume, thickness & length</li>
  </ul>

  <!-- Double Weft -->
  <ul data-type="Double wefted full head">
    <li>8 Pieces</li>
    <li>Traditional lace seam</li>
    <li>Discreet & comfortable</li>
    <li>For volume, thickness & length</li>
    <li>Suitable for average to thick hair</li>
  </ul>

  <!-- Ultra Volume -->
  <ul data-type="Ultra-Volume Full Head">
    <li>8 Pieces</li>
    <li>Traditional lace seam</li>
    <li>Discreet & comfortable</li>
    <li>For intense volume, thickness and length</li>
    <li>Suitable for average to thick hair types</li>
  </ul>

  <!-- Classic -->
  <ul data-type="Full Head Set">
    <li>8 Pieces</li>
    <li>Traditional lace seam</li>
    <li>Super discreet & comfortable</li>
    <li>For thickness and volume only</li>
    <li>Suitable for thin and fine hair</li>
  </ul>

  <!-- Curly -->
  <ul data-type="Curly Clip In Hair Extensions">
    <li>8 Pieces</li>
    <li>Tight, ringlet style curl</li>
    <li>Suitable for all hair types</li>
    <li>For thickness, volume and length</li>
    <li>Super discreet & comfortable</li>
  </ul>

  <!-- Top Up -->
  <ul data-type="One Piece Clip In Hair Extensions">
    <li>One Clip-In Piece</li>
    <li>10 Inches wide</li>
    <li>Super discreet & comfortable</li>
    <li>For instant thickness, volume or colour</li>
    <li>Suitable for thin and fine hair</li>
  </ul>

  <!-- Quade Weft -->
  <ul data-type="Quad Weft Pieces">
    <li>One Clip-In Piece</li>
    <li>10 Inches wide</li>
    <li>Instant volumizer</li>
    <li>4x as thick as the Top Up Piece</li>
    <li>Suitable for average hair types</li>
  </ul>

  <!-- Fringe -->
  <ul data-type="Clip In Fringe Extensions">
    <li>One Clip-In Piece</li>
    <li>Customisable</li>
    <li>Zero commitment</li>
    <li>Instant transformation</li>
    <li>Suitable for all hair types</li>
  </ul>

  <!-- Ponytail -->
  <ul data-type="Wrap Ponytail">
    <li>Clip In Ponytail with wrap function</li>
    <li>3 length options</li>
    <li>Discreet & easy to use</li>
    <li>Instant transformation</li>
    <li>Suitable for all hair types</li>
  </ul>

  <!-- Nano Ring -->
  <ul data-type="Nano Ring Hair Extensions">
    <li>Super discreet</li>
    <li>Double Drawn</li>
    <li>Gentle application</li>
    <li>1g per strand - 50g per pack</li>
    <li>Suitable for thin and fine hair</li>
  </ul>

  <!-- Hair Weft -->
  <ul data-type="Remy Royale Weave Weft Hair Extensions">
    <li>120g</li>
    <li>Double Drawn</li>
    <li>Traditional lace seam</li>
    <li>Multiple application options</li>
    <li>Suitable for average to thick hair</li>
  </ul>

  <!-- Remy Tape -->
  <ul data-type="Remy Royale Tape ins">
    <li>20 Tapes</li>
    <li>Super secure</li>
    <li>Double Drawn</li>
    <li>Fast & easy application</li>
    <li>Suitable for all hair types</li>
  </ul>

  <!-- I-Tips -->
  <ul data-type="Remy Royale I-Tips">
    <li>Double Drawn</li>
    <li>Gentle application</li>
    <li>Discreet & natural finish</li>
    <li>1g per strand - 50g per pack</li>
    <li>Suitable for average to thick hair types</li>
  </ul>

  <!-- Flat Tips -->
  <ul data-type="Remy Royale Flat Tip">
    <li>Double Drawn</li>
    <li>Discreet & natural finish</li>
    <li>Long lasting & low maintenance</li>
    <li>1g per strand - 50g per pack</li>
    <li>Suitable for all hair types</li>
  </ul>

  <!-- Invisible tape -->
  <ul data-type="Remy Royale Invisible Tape">
    <li>20 Tapes</li>
    <li>Double Drawn</li>
    <li>Super discreet & secure</li>
    <li>Fast & easy application</li>
    <li>Suitable for all hair types</li>
  </ul>

  <!-- Nano Bonds -->
  <ul data-type="Remy Royale Nano Bonds">
    <li>Double Drawn</li>
    <li>Super discreet & secure</li>
    <li>Gentle application</li>
    <li>1g per strand - 50g per pack</li>
    <li>Suitable for thin and fine hair</li>
  </ul>

  <!-- Flat Weft -->
  <ul data-type="Remy Royale Flat Weft Hair Extensions">
    <li>120g</li>
    <li>Double Drawn</li>
    <li>More discreet & durable</li>
    <li>Multiple application options</li>
    <li>Suitable for average to thick hair</li>
  </ul>

  <!-- Tape -->
  <ul data-type="Tape in Hair Extensions">
    <li>40 Tapes</li>
    <li>Single Drawn</li>
    <li>Super secure</li>
    <li>Fast & easy application</li>
    <li>Suitable for all hair types</li>
  </ul>
</div>
