<div class="page-width">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="639527"></div>
</div>

{% schema %}
{
  "name": "Yotpo rewards",
  "settings": [
    {
      "type": "paragraph",
      "content": "To update this section go to the Yotpo rewards app."
    }
  ],
  "presets": [
    {
      "name": "Yotpo rewards"
    }
  ]
}
{% endschema %}
