slider-component-custom {
    --desktop-margin-left-first-item: max(5rem,
            calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
    position: relative;
    display: block;
}

slider-component-custom.slider-component-full-width {
    --desktop-margin-left-first-item: 1.5rem;
}

@media screen and (max-width: 749px) {
    slider-component-custom.page-width {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 749px) and (max-width: 990px) {
    slider-component-custom.page-width {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 989px) {
    .no-js slider-component-custom .slider {
        padding-bottom: 3rem;
    }
}