.section-images-list .intro-wrapper {
	margin-bottom: 4rem;
}

.section-images-list .images-list-title,
.section-images-list .intro-wrapper p {
	margin: 0;
}

.section-images-list .grid {
	margin-bottom: 0 !important;
}

.section-images-list .images-list__item {
	text-align: center;

}

.section-images-list .images-list__item a {
	color: rgba(var(--color-link), var(--alpha-link));
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.1rem;
	display: block;
}

.section-images-list .images-list__item a:hover {
	color: rgb(var(--color-link));
	text-decoration-thickness: 0.2rem;
}

.section-images-list .images-list__item img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}

.section-images-list .images-list__item p {
	margin: 5px 0 0;
	line-height: 1.2em;
}

.section-images-list .images-list__item .text-container p {
	margin: 1rem 0;
}

/* slider */
.section-images-list .slider-buttons>.slider-button {
	background: var(--gradient-background);
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 22px);
	right: 1.5rem;
	border: 1px solid rgba(var(--color-foreground), .1)
}

.section-images-list .slider-buttons>.slider-button--prev {
	left: 1.5rem;
}

.section-images-list .slider-buttons>.slider-button--next {
	right: 1.5rem;
}

.section-images-list .slider-buttons>.slider-button .icon {
	height: 1.2rem;
}