.action-button-outer-container{
  width:100%;
}

.action-button-container{
  width:100%;
  margin:0 auto;
  text-align:center;
}

.action-button-container > .section-header{
  text-align:left;
}

.action-button-container > .section-intro{
  text-align:center;
}

.action-button-container > .section-btn{
  text-align:center;
  text-transform:uppercase;
  padding: 5px 25px 5px;
  margin-top:15px;
  display:inline-block;
  line-height:1.2em;
  text-decoration:none;
}

.action-button-container > .section-btn:hover{
  text-decoration:none;
}

@media screen and (min-width:992px){  
  .action-button-container > .section-btn{
    padding: 10px 50px 10px;
    margin-top: 20px;
  }
}