.section-custom-page .main-page-title {
  padding-bottom: 3rem;
  border-bottom: 1px solid;
}

.section-custom-page .content {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

.section-custom-page .main-content {
  width: 100%;
  flex-grow: 1;
}

.section-custom-page .main-content h2 {
  display: inline-block;
  padding: 1rem 3rem;
  border: 1px solid;
}

.section-custom-page .main-content .block {
  border-top: 1px solid rgb(var(--color-main-headers));
  padding-top: 1em;

}

.section-custom-page .sidebar {
  display: none;
  flex-direction: column;
  gap: 2rem;
  max-width: 200px;
}

.section-custom-page .sidebar-links ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}

.section-custom-page .sidebar-links li {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.section-custom-page .sidebar-links li a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
}

.section-custom-page .sidebar-links li a:hover {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .3rem;
}

.section-custom-page .sidebar-links ul ul {
  padding-left: 1.5rem;
  text-transform: capitalize;
}

.section-custom-page .sidebar-links ul ul li:first-of-type {
  margin-top: 1.5rem;
}

.section-custom-page .sidebar-links ul ul li a {
  font-weight: 400;
}

.section-custom-page .sidebar .blogs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width:750px) {
  .section-custom-page .main-page-title {
    padding-bottom: 4rem;
  }

  .section-custom-page .main-content {
    width: calc(((100% - 1rem) * 0.8) - 2rem);
    padding-right: 2rem;
    border-right: 1px solid rgb(var(--color-main-headers));
  }

  .section-custom-page .sidebar {
    width: calc(((100% - 1rem) * 0.2));
    display: flex;
  }
}