.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}

.main-blog {
  border-top: 1px solid var(--color-gray-300);
}

.main-blog .title--primary {
  text-align: center;
}

.main-blog .blog-articles .card__inner .article-card__image-wrapper {
  /* border: 1px solid #000; */
  border: 0;
}

.main-blog .blog-articles .card__information {
  padding-bottom: 0;
}


@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
    /* width: 80%; */
    margin: 0 auto;
  }

  .blog-articles--collage>*:nth-child(3n + 1),
  .blog-articles--collage>*:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .card,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage>*:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage>*:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

.main-blog__footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
}

.main-blog__footer .button {
  margin: 0 auto;
}

.main-blog__footer .pagination-wrapper {
  margin-top: 0;
}

/* custom styles */
.articles-border-top {
  border-top: 2px solid;
}

.section-main-blog .blog-tag {
  margin: 1.5rem 0;
}

@media screen and (min-width:990px) {
  .section-main-blog .blog-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width:750px) {
  .section-main-blog .blog-tag {
    margin: 3rem 0;
  }
}