.faq-wrapper {
  padding-top: 1rem;
  border-top: 1px solid;
  border-color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .faq-wrapper {
    display: flex;
    gap: var(--grid-desktop-horizontal-spacing);
  }

  .faq-wrapper .collapsible-content__header {
    width: 30%;
  }

  .faq-wrapper .collapsible-content__grid {
    width: 70%;
  }
}

/* overrides */
.section-faq-page .collapsible-content__heading {
  border: 0;
  margin: 0;
  padding: 0;
}

.section-faq-page .accordion {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .section-faq-page .accordion {
    margin-top: 0;
  }
}