/* Override styles */
@media screen and (min-width:990px) {
  /* .section-quiz-question .slider--desktop {
    scroll-padding-left: 0;
  }

  .section-quiz-question .slider--desktop:after {
    content: none;
  }

  .section-quiz-question .slider--desktop .slider__slide:first-child {
    margin-left: 0;
    scroll-margin-left: 0;
  }

  .section-quiz-question .slider--desktop.grid--1-col-desktop .grid__item {
    width: 100%;
  }

  .section-quiz-question .slider--desktop.grid--2-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing)) / 2);
  }

  .section-quiz-question .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing) * 2) / 3);
  }

  .section-quiz-question .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing) * 3) / 4);
  }

  .section-quiz-question .slider--desktop.grid--5-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing) * 4) / 5);
  }

  .section-quiz-question .slider--desktop.grid--6-col-desktop .grid__item {
    width: calc((100% - var(--grid-desktop-horizontal-spacing) * 5) / 6);
  } */
}

/* Section styles */
.quiz.visible {
  display: block !important;
}

.quiz .information-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.quiz .information-wrapper button[name='back'],
.quiz .information-wrapper button[name='reset'] {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid transparent;
}

.quiz .information-wrapper button[name='back']:focus-visible,
.quiz .information-wrapper button[name='back']:hover,
.quiz .information-wrapper button[name='reset']:focus-visible,
.quiz .information-wrapper button[name='reset']:hover {
  outline: 0;
  box-shadow: none;
  border-color: inherit;
}

.quiz .information-wrapper button[name='back']:disabled,
.quiz .information-wrapper button[name='reset']:disabled {
  border-color: transparent;
  cursor: not-allowed;
}

.quiz .information-wrapper button[name='back'] .icon-arrow {
  transform: rotate(180deg);
}

.quiz .information-wrapper p {
  margin: 0;
  padding: 0;
}

.quiz .question-wrapper h2,
.quiz .title-wrapper h2 {
  margin-top: 0;
}

/* Questions */
.section-quiz-question slider-component {
  position: relative;
}

.section-quiz-question .answer-card {
  cursor: pointer;
}

.section-quiz-question .answer-card .card__content {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.section-quiz-question .button-wrapper {
  margin-top: 0;
}

.section-quiz-question .answer-card h3 {
  width: 100%;
  max-width: unset;
  box-sizing: border-box;
  margin-top: 0;
}

.section-quiz-question .answer-card h3:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  width: 100%;
}

.section-quiz-question .answer-card:hover img {
  transform: scale(1.03);
}

.section-quiz-question .answer-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
}

.section-quiz-question .answer-card .card__content {
  padding-bottom: 0;
}

.section-quiz-question .answer-card .card__information {
  padding: 0;
}

.section-quiz-question .slider-buttons>.slider-button {
  background: var(--gradient-background);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 22px);
  right: 1.5rem;
  border: 1px solid rgba(var(--color-foreground), .1)
}

.section-quiz-question .slider-buttons>.slider-button--prev {
  left: 1.5rem;
}

.section-quiz-question .slider-buttons>.slider-button--next {
  right: 1.5rem;
}

.section-quiz-question .slider-buttons>.slider-button .icon {
  height: 1.2rem;
}

/* .section-quiz-question .slider-button {
  position: absolute;
  top: calc(50% - 22px);
}

.section-quiz-question .slider-button.slider-button--prev {
  left: -1.5rem;
}

.section-quiz-question .slider-button.slider-button--next {
  right: -1.5rem;
}

.section-quiz-question .slider-button .icon {
  height: 22px;
}

@media screen and (min-width:768px) {
  .section-quiz-question .slider-button.slider-button--prev {
    left: -5rem;
  }

  .section-quiz-question .slider-button.slider-button--next {
    right: -5rem;
  }
} */

/* Answer */
.quiz .answer-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz .answer-wrapper .media,
.quiz .answer-wrapper .text-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.quiz .answer-wrapper .text-wrapper h3 {
  margin-top: 0;
}

.quiz .answer-wrapper .text-wrapper h3 a {
  color: rgba(var(--color-link), var(--alpha-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.quiz .answer-wrapper .text-wrapper h3:hover a {
  color: rgb(var(--color-link));
  text-decoration-thickness: 0.2rem;
}

.quiz .answer-wrapper .button-wrapper {
  margin-top: 0;
}

.quiz .answer-wrapper .button-wrapper a.button {
  width: 100%;
  max-width: unset;
  margin-top: 0;
}

.quiz .answer-wrapper .accordion {
  margin-top: 0;
}

.quiz .answer-wrapper .media img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width:750px) {
  .quiz .answer-wrapper .media {
    width: 30%;
    margin: 0;
    padding: 0;
  }

  .quiz .answer-wrapper .text-wrapper {
    width: calc(70% - 1.5rem);
  }
}