.section-visual-menu .visual-menu {
  flex-grow: 1;
  margin: 0 !important;
}

.section-visual-menu .card__content {
  padding: 1rem 0;
}

.section-visual-menu .card__information {
  padding: 0;
}

.section-visual-menu .slider-buttons>.slider-button {
  background: var(--gradient-background);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 22px);
  right: 1.5rem;
  border: 1px solid rgba(var(--color-foreground), .1)
}

.section-visual-menu .slider-buttons>.slider-button--prev {
  left: 1.5rem;
}

.section-visual-menu .slider-buttons>.slider-button--next {
  right: 1.5rem;
}

.section-visual-menu .slider-buttons>.slider-button .icon {
  height: 1.2rem;
}